@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.heading {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.player-count {
  font-family: "Roboto", sans-serif;
  margin-left: 50px;
  padding-top: 10px;
}

input {
  width: 10%;
  padding: 5px;
}

.colour-selector {
  margin-top: 20px;
  margin-left: 50px;
}

.chips {
  width: 10%;
  padding-right: 10px;
}

#colourSelectorPara {
  font-family: "Roboto", sans-serif;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: white;
  position: fixed;
  left: 10px;
  bottom: 0px;
  right: 10px;
  width: 100%;
  background-color: gray;
  text-align: center;
}
