@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.heading {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.player-count {
  font-family: "Roboto", sans-serif;
  margin-left: 50px;
  padding-top: 10px;
}

input {
  width: 5%;
}

.colour-selector {
  margin-top: 20px;
  margin-left: 50px;
}

.chips {
  width: 10%;
  padding-right: 10px;
}

#colourSelectorPara {
  font-family: "Roboto", sans-serif;
}
